VITE_SUPABASE_URL=https://evafzvfracpdhpzznjqp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2YWZ6dmZyYWNwZGhwenpuanFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NjI1MzQsImV4cCI6MjA5ODMzODUzNH0.bVumFGdqQTJqgN0xBeoFLxEDXQZB-EQp15Ve6uyAzU0
